/Results*/results_R.txt
/Results*/results_C.txt
/Results*/results_G.txt
/Results*/results_Dg.txt
/Results*/results_Dr.txt
/Results*/results_Dm.txt
/Results*/results_Ds.txt
/Results*/results_M.txt
/Results*/results_SDA.txt
/Results*/results_AMR.txt
/Results*/I_norm.txt
/Results/env_K/I_norm.txt
/Data/PAR_PAP.txt
/Data/eppley.2022152.hdf
/Data/cmems_mod_ibi_bgc_anfc_0.027deg-3D_P1D-m_1695740479739.nc
/Data/cmems_mod_glo_phy-thetao_anfc_0.083deg_PT6H-i_1681919076982.nc
/Data/sorce_fuv_muv_L3_HR_2019.nc
/Data/MetO-NWS-PHY-hi-MLD_1695828276825.nc
/Data/PAR/dswrf.sfc.mon.mean.nc

/Results*/env_K/results_R.txt
/Results*/env_K/results_C.txt
/Results*/env_K/results_G.txt
/Results*/env_K/results_Dg.txt
/Results*/env_K/results_M.txt
